.u-section-1 .u-sheet-1 {
  min-height: 174px;
}

.u-section-1 .u-image-1 {
  width: 795px;
  height: 79px;
  margin: 96px auto 0;
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 136px;
  }

  .u-section-1 .u-image-1 {
    width: 720px;
    height: 72px;
    margin-top: 64px;
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 118px;
  }

  .u-section-1 .u-image-1 {
    height: 54px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 100px;
  }

  .u-section-1 .u-image-1 {
    height: 50px;
    width: 362px;
    margin-top: 50px;
    margin-left: -11px;
    margin-right: -11px;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 736px;
}

.u-section-2 .u-shape-1 {
  width: 902px;
  height: 512px;
  border-style: solid;
  margin: 29px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 492px;
  width: 1117px;
  margin: -502px auto 60px;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-gallery-inner-1 {
  grid-template-columns: auto auto;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-1 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-2 {
  padding: 30px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-2 .u-over-slide-3 {
  padding: 30px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 71px;
  height: 71px;
  background-image: none;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 71px;
  height: 71px;
  background-image: none;
  left: auto;
  right: 10px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-gallery-1 {
    width: 940px;
  }

  .u-section-2 .u-over-slide-2 {
    min-height: 100px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 582px;
  }

  .u-section-2 .u-shape-1 {
    width: 572px;
    height: 329px;
    margin-top: 78px;
  }

  .u-section-2 .u-gallery-1 {
    height: 305px;
    margin-top: -318px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-shape-1 {
    width: 438px;
    height: 252px;
  }

  .u-section-2 .u-gallery-1 {
    height: 228px;
    margin-top: -240px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 364px;
  }

  .u-section-2 .u-shape-1 {
    width: 362px;
    height: 213px;
    margin-top: 21px;
    margin-left: -11px;
    margin-right: -11px;
  }

  .u-section-2 .u-gallery-1 {
    height: 203px;
    margin-top: -208px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-carousel-control-1 {
    width: 34px;
    height: 34px;
    padding: 7px;
  }

  .u-section-2 .u-carousel-control-2 {
    width: 34px;
    height: 34px;
    padding: 7px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 311px;
}

.u-section-3 .u-text-1 {
  font-weight: 700;
  width: 803px;
  font-size: 3rem;
  margin: 42px auto 0;
}

.u-section-3 .u-text-2 {
  font-size: 1.125rem;
  width: 803px;
  margin: 19px auto 60px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-text-1 {
    margin-left: 69px;
    margin-right: 69px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 69px;
    margin-right: 69px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }

  .u-section-3 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-text-1 {
    width: 540px;
  }

  .u-section-3 .u-text-2 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-text-1 {
    width: 340px;
    font-size: 2.25rem;
    font-weight: normal;
  }

  .u-section-3 .u-text-2 {
    font-size: 1rem;
    width: 340px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 564px;
}

.u-section-4 .u-gallery-1 {
  margin-top: 131px;
  margin-bottom: 60px;
  height: 271px;
}

.u-section-4 .u-gallery-item-1 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-1 {
  width: 375px;
  object-position: 25.95% 50%;
}

.u-section-4 .u-over-slide-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-2 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-2 {
  width: 375px;
  object-position: 25.95% 50%;
}

.u-section-4 .u-over-slide-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-3 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-3 {
  width: 375px;
  object-position: 47.82% 50%;
}

.u-section-4 .u-over-slide-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-4 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-4 {
  width: 375px;
  object-position: 48.78% 50%;
}

.u-section-4 .u-over-slide-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-5 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-5 {
  width: 375px;
  object-position: 41.87% 50%;
}

.u-section-4 .u-over-slide-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-6 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-6 {
  width: 375px;
  object-position: 25.95% 50%;
}

.u-section-4 .u-over-slide-6 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-item-7 {
  margin-right: 41px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-4 .u-back-image-7 {
  width: 375px;
  object-position: 25.95% 50%;
}

.u-section-4 .u-over-slide-7 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2));
  padding: 20px;
}

.u-section-4 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 40px;
  height: 40px;
  top: 116px;
}

.u-section-4 .u-gallery-nav-2 {
  position: absolute;
  width: 40px;
  height: 40px;
  left: auto;
  top: 116px;
  right: 10px;
}

@media (max-width: 575px) {
  .u-section-4 .u-gallery-1 {
    margin-top: 132px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 536px;
}

.u-section-5 .u-image-1 {
  width: 377px;
  height: 121px;
  margin: 21px 385px 0 378px;
}

.u-section-5 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  margin: -91px auto 0;
}

.u-section-5 .u-list-1 {
  grid-template-rows: auto;
  width: 1069px;
  margin: 17px auto 47px;
}

.u-section-5 .u-repeater-1 {
  grid-template-columns: 50% 50%;
  min-height: 363px;
  grid-gap: 0px 0px;
}

.u-section-5 .u-container-layout-1 {
  padding: 10px 0;
}

.u-section-5 .u-image-2 {
  height: 125px;
  width: 125px;
  border-style: double;
  margin: 10px 415px 0 30px;
}

.u-section-5 .u-text-2 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -78px -106px 0 166px;
}

.u-section-5 .u-text-3 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -8px 50px 0 166px;
}

.u-section-5 .u-container-layout-2 {
  padding: 10px 0;
}

.u-section-5 .u-image-3 {
  height: 125px;
  width: 125px;
  border-style: double;
  margin: 10px 415px 0 30px;
}

.u-section-5 .u-text-4 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -78px -106px 0 166px;
}

.u-section-5 .u-text-5 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -8px 50px 0 166px;
}

.u-section-5 .u-container-layout-3 {
  padding: 10px 0;
}

.u-section-5 .u-image-4 {
  height: 125px;
  width: 125px;
  border-style: double;
  margin: 10px 415px 0 30px;
}

.u-section-5 .u-text-6 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -78px -106px 0 166px;
}

.u-section-5 .u-text-7 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -8px 50px 0 166px;
}

.u-section-5 .u-container-layout-4 {
  padding: 10px 0;
}

.u-section-5 .u-image-5 {
  height: 125px;
  width: 125px;
  border-style: double;
  margin: 10px 415px 0 30px;
}

.u-section-5 .u-text-8 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -78px -106px 0 166px;
}

.u-section-5 .u-text-9 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  margin: -8px 50px 0 166px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-image-1 {
    margin-left: auto;
    margin-right: 285px;
  }

  .u-section-5 .u-list-1 {
    width: 940px;
  }

  .u-section-5 .u-repeater-1 {
    min-height: 319px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-3 {
    margin-left: 0;
  }

  .u-section-5 .u-text-4 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-5 {
    margin-left: 0;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-7 {
    margin-left: 0;
  }

  .u-section-5 .u-text-8 {
    margin-top: 20px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-5 .u-text-9 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-image-1 {
    margin-right: 175px;
  }

  .u-section-5 .u-list-1 {
    width: 720px;
  }

  .u-section-5 .u-image-2 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-2 {
    width: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-image-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-image-4 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-right: 0;
  }

  .u-section-5 .u-image-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    width: auto;
  }

  .u-section-5 .u-text-9 {
    width: auto;
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 631px;
  }

  .u-section-5 .u-image-1 {
    margin-top: 0;
    margin-right: 85px;
    margin-left: 78px;
  }

  .u-section-5 .u-text-1 {
    margin-top: -92px;
  }

  .u-section-5 .u-list-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 529px;
  }

  .u-section-5 .u-image-1 {
    width: 255px;
    height: 87px;
    margin-right: 0;
    margin-left: 40px;
  }

  .u-section-5 .u-text-1 {
    font-size: 1.875rem;
    width: auto;
    margin-top: -61px;
  }

  .u-section-5 .u-list-1 {
    width: 340px;
    margin-top: -2px;
    margin-bottom: 20px;
  }
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]):hover {
  stroke-width: 0px !important;
  box-shadow: 0px  rgba(var(---r),var(---g),var(---b),1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  color: #f1c50e !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]):hover .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).hover {
  stroke-width: 0px !important;
  box-shadow: 0px  rgba(var(---r),var(---g),var(---b),1) !important;
  transform: translateX(0px) translateY(0px) scale(1.1) rotate(0deg) !important;
  color: #f1c50e !important;
  text-shadow: rgba(var(---r),var(---g),var(---b),0) !important;
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]) {
  stroke-width: 0 !important;
  stroke: transparent !important;
  border-color: transparent !important;
}

.u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).u-block-8799-73:not([data-block-selected]):not([data-cell-selected]).hover .u-svg-link {
  fill: #f1c50e !important;
  fill: #f1c50e !important;
}

.u-container-layout:hover .u-block-8799-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-8799-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}.u-section-6 .u-sheet-1 {
  min-height: 758px;
}

.u-section-6 .u-image-1 {
  width: 355px;
  height: 131px;
  margin: 138px 399px 0 386px;
}

.u-section-6 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,1);
  font-size: 3rem;
  margin: -92px auto 0;
}

.u-section-6 .u-form-1 {
  height: 328px;
  width: 570px;
  margin: 16px auto 60px;
}

.u-section-6 .u-input-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
}

.u-section-6 .u-input-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
}

.u-section-6 .u-input-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
}

.u-section-6 .u-btn-1 {
  background-image: none;
  font-weight: 700;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,1);
}

@media (max-width: 1199px) {
  .u-section-6 .u-image-1 {
    margin-top: 14px;
    margin-left: auto;
    margin-right: 299px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-image-1 {
    margin-top: 165px;
    margin-right: 185px;
    margin-left: 180px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -94px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 909px;
  }

  .u-section-6 .u-image-1 {
    margin-top: 134px;
    margin-right: 99px;
    margin-left: 82px;
  }

  .u-section-6 .u-text-1 {
    margin-top: -98px;
  }

  .u-section-6 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 668px;
  }

  .u-section-6 .u-image-1 {
    height: 94px;
    width: 256px;
    margin-top: 129px;
    margin-right: 45px;
    margin-left: 39px;
  }

  .u-section-6 .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: -69px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 34px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}